<div class="container main-container">
    <div class="row">
      <div class="col-xs-12">
        <h2>Your current recipes</h2>
      </div>
      <% @next_user_recipes.each do |u_recipe| %>
        <% recipe = Recipe.find(u_recipe.recipe_id) %>
          <div class="col-xs-12">
            <div class="btn-recipe <%= recipe.category %>" id="<%= u_recipe.id %>">
            <% category = recipe.category %>
              <div class="recipe-name" ><%= recipe.name %></div>
              <div class="recipe-date" ><%= u_recipe.date.strftime("%A %d/%m/%Y") %></div>
              <%= link_to recipe_path(recipe) do %>
                <div class="recipe-category"><%= recipe.category %></div>
              <% end %>
              <i class="fa fa-times meal-cross"></i>
            </div>
          </div>
      <% end %>

    </div>
  </div>

<% content_for(:after_js) do %>
   <script>
  $(".meal-cross").click(function() {
    var $meal = $(this).closest('.main-container')
    idClick = $meal.find(".btn-recipe").attr('id')
    $(this).closest('.btn-recipe').fadeOut(400);
      $.ajax({
      url: "/user_recipes/" + idClick,
      type: 'DELETE',
      success: function() {
        console.log(this)
    }
  });
});
</script>
<% end %>
