<%= render 'shared/scroll-days' %>

<h1><%= @day.strftime('%A %e %B') %></h1>
<h2>Recipe of the day</h2>

<%= simple_form_for [current_user, @user_recipe] do |f|%>
  <%= f.input :date,  :as => :hidden, :input_html => {:value => @day} %>
  <%= f.input :number_of_people %>
  <%= f.association :recipe %>
  <%= f.submit "Define recipe of the day", class: "btn btn-primary" %>
<% end %>

<div class="container">
  <div class="row">
    <% @user_recipes.each do |u_recipe| %>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <% recipe = Recipe.find(u_recipe.recipe_id) %>
        <h3><%= recipe.name %></h3>
        <p>for <%= u_recipe.number_of_people %></p>
        <p><%= recipe.recipe_type %></p>
        <p><%= recipe.instructions %></p>
      </div>
    <% end %>
  </div>
</div>

<h2 class="text-center">Breakfast</h2>
<%= render "shared/swiper", meal: "breakfast" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('breakfast');" />
</form>
<ol>
  <li>recipes</li>
</ol>

<h2 class="text-center">Lunch</h2>
<%= render "shared/swiper", meal: "lunch" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('lunch');" />
</form>
<ol>
  <li>recipes</li>
</ol>

<h2 class="text-center">Dinner</h4>
<%= render "shared/swiper", meal: "dinner" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('dinner');" />
</form>
<ol>
  <li>recipes</li>
</ol>
