<div class="main-container">
  <%= render 'shared/scroll-days' %>

  <h1 id="calender-date"><%= @day.strftime('%a %e %b') %></h1>
  <div class="meal-type">
    <h2 class="text-center">BREAKFAST</h2>
    <h2 id="breakfast_delete" class="open-slider close meal-picked"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "breakfast", active_recipe: 174 %>
     <% unless current_user.selected_recipe("breakfast", @day) %>
        <div class="close-slider apply-empty-meal">
          <h2 class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
          <%= render "shared/swiper", meal: "breakfast"%>
          <div class="close-slider">
            <%= render "shared/empty-meal" %>
          </div>
      `</div>   
    <% end %>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <div class="profile-pic">
      <span class="range-slider__value">0</span>
    </div>
  </div>

  <hr>

  <div class="meal-type">
    <h2  class="text-center">LUNCH</h2>
    <h2 class="open-slider"><i class="fa fa-times meal-cross" id="lunch_delete" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "lunch", active_recipe: 174 %>
    <h2 class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "lunch"%>
    <div class="close-slider">
      <%= render "shared/empty-meal" %>
    </div>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>

  <div class="meal-type">
    <h2 class="text-center">APERITIVO</h2>
    <h2 id="aperitivo_delete" class="open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "aperitivo", active_recipe: 174 %>
    <h2 class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "aperitivo"%>
    <div class="close-slider">
      <%= render "shared/empty-meal" %>
    </div>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>


  <div class="meal-type">
    <h2 class="text-center">DINNER</h2>
    <h2 id="dinner_delete" class="open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "dinner", active_recipe: 174 %>
    <h2 class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
    <%= render "shared/swiper", meal: "dinner"%>
    <div class="close-slider">
      <%= render "shared/empty-meal" %>
    </div>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>

</div>

<%= content_for(:after_js) do %>
<script>
    $(".calender-plus, #lunch_delete").click(function() {
    var $meal = $(this).closest('.meal-type')
    $meal.find(".open-slider").toggleClass("close");
    $meal.find(".close-slider").toggleClass("close");
 });


  <% recipe = current_user.selected_recipe('lunch', @day) %>
  if ("<%= raw recipe %>") {
    $(".meal-picked").removeClass("close");
    console.log("i'm here because i have a meal")
  }else {
    $(".meal-picked").addClass("close");
    console.log("I'm here because i don't have a meal")
    $(".apply-empty-meal").removeClass("close");
  };

  $("#lunch_delete").click(function() {
    var selected_recipe_id = $('.swiper-slide-lunch.swiper-slide-active').attr("data-recipe-id");
      $.ajax({
      url: "<%= delete_user_recipe_path %>",
      type: 'POST',
      data: { recipe_id: selected_recipe_id, date: '<%= params[:date] %>' },
      success: function() {
        var $meal = $("#lunch_delete").closest('.meal-type')
        $meal.find(".open-slider").toggleClass("close");
    }
  });
});



var rangeSlider = function(){
  var slider = $('.range-slider'),
      range = $('.range-slider__range'),
      value = $('.range-slider__value');

  slider.each(function(){

    value.each(function(){
      var value = $(this).prev().attr('value');
      $(this).html(value);
    });

    range.on('input', function(){
      $(this).next(value).html(this.value);
    });
  });
};

rangeSlider();

</script>

<% end %>
