<%= render 'shared/scroll-days' %>

<!-- <h1><%= @day.strftime('%A %e %B') %></h1>
<h2>Recipe of the day</h2>
<%= simple_form_for [current_user, @user_recipe] do |f|%>
  <%= f.input :date,  :as => :hidden, :input_html => {:value => @day} %>
  <%= f.input :number_of_people %>
  <%= f.association :recipe %>
  <%= f.submit "Define recipe of the day", class: "btn btn-primary" %>
<% end %>
-->
<h6 class="text-center"><%= @day.strftime('%A %e %B') %></h6>
<h4 class="text-center">Breakfast</h4>
<%= render "shared/swiper", meal: "breakfast" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('breakfast');" />
</form>

<h4 class="text-center">Lunch</h4>
<%= render "shared/swiper", meal: "lunch" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('lunch');" />
</form>

<h4 class="text-center">Dinner</h4>
<%= render "shared/swiper", meal: "dinner" %>
<form>
  <input type="button" value="Click Me" onclick="getConfirmation('dinner');" />
</form>
