<div class="main-container">
  <%= render 'shared/scroll-days' %>

  <h1 id="calender-date"><%= @day.strftime('%a %e %b') %></h1>

  <div class="meal-type">
    <div class="title-meal-people">
      <h2  class="text-center">BREAKFAST</h2>
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
          <i class="fa fa-user" aria-hidden="true"></i>
          <span class="caret" class="fa fa-user" ></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li class="breakfast_people">1</li>
          <li class="breakfast_people">2</li>
          <li class="breakfast_people">3</li>
          <li class="breakfast_people">4</li>
          <li class="breakfast_people">5</li>
          <li class="breakfast_people">6</li>
          <li class="breakfast_people">7</li>
          <li class="breakfast_people">8</li>
          <li class="breakfast_people">9</li>
          <li class="breakfast_people">10</li>
        </ul>
      </div>
    </div>

      <% selected_recipe = current_user.selected_recipe("breakfast", params[:date]) %>
      <% if selected_recipe %>
        <h2 id="breakfast_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
       <%= render "shared/swiper", meal: "breakfast"%>
       <div class="close-slider close">
        <%= render "shared/empty-meal" %>
       </div>
      <% else %>
        <h2 id="breakfast_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
        <%= render "shared/swiper", meal: "breakfast"%>
       <div class="close-slider">
          <%= render "shared/empty-meal" %>
       </div>
      <% end %>
    </div>
  <hr>

  <div class="meal-type">
    <div class="title-meal-people">
      <h2  class="text-center">LUNCH</h2>
        <div class="dropdown">
          <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="caret" class="fa fa-user" ></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li class="lunch_people">1</li>
            <li class="lunch_people">2</li>
            <li class="lunch_people">3</li>
            <li class="lunch_people">4</li>
            <li class="lunch_people">5</li>
            <li class="lunch_people">6</li>
            <li class="lunch_people">7</li>
            <li class="lunch_people">8</li>
            <li class="lunch_people">9</li>
            <li class="lunch_people">10</li>
          </ul>
        </div>
      </div>

    <% selected_recipe = current_user.selected_recipe("lunch", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="lunch_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "lunch"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="lunch_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "lunch"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <hr>

  <div class="meal-type">
    <div class="title-meal-people">
      <h2  class="text-center">APERITIVO</h2>
          <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
              <i class="fa fa-user" aria-hidden="true"></i>
              <span class="caret" class="fa fa-user" ></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="aperitivo_people">1</li>
              <li class="aperitivo_people">2</li>
              <li class="aperitivo_people">3</li>
              <li class="aperitivo_people">4</li>
              <li class="aperitivo_people">5</li>
              <li class="aperitivo_people">6</li>
              <li class="aperitivo_people">7</li>
              <li class="aperitivo_people">8</li>
              <li class="aperitivo_people">9</li>
              <li class="aperitivo_people">10</li>
            </ul>
          </div>
        </div>

    <% selected_recipe = current_user.selected_recipe("aperitivo", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="aperitivo_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "aperitivo"%>
     <div class="close-slider close">

      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="aperitivo_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "aperitivo"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>



  <hr>

    <div class="meal-type">
      <div class="title-meal-people">
        <h2  class="text-center">DINNER</h2>
            <div class="dropdown">
              <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                <i class="fa fa-user" aria-hidden="true"></i>
                <span class="caret" class="fa fa-user" ></span>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dinner_people">1</li>
                <li class="dinner_people">2</li>
                <li class="dinner_people">3</li>
                <li class="dinner_people">4</li>
                <li class="dinner_people">5</li>
                <li class="dinner_people">6</li>
                <li class="dinner_people">7</li>
                <li class="dinner_people">8</li>
                <li class="dinner_people">9</li>
                <li class="dinner_people">10</li>
              </ul>
            </div>
          </div>

    <% selected_recipe = current_user.selected_recipe("dinner", params[:date]) %>
    <% if selected_recipe %>

      <h2 id="dinner_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "dinner"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="dinner_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "dinner"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <hr>

</div>


<%= content_for(:after_js) do %>
<script>
    $(".calender-plus, #lunch_delete, #breakfast_delete, #aperitivo_delete, #dinner_delete").click(function() {
    var $meal = $(this).closest('.meal-type')
    $meal.find(".open-slider").toggleClass("close");
    $meal.find(".close-slider").toggleClass("close");
 });


    $("li").click(function() {
      var $itemSelection = $(this).text()
      var $meal = $(this).closest('.meal-type')
      if ($itemSelection == 1) {
        $people = ' person'
      } else {
        $people = ' people'
      };
      $meal.find('.dropdown-toggle').text($itemSelection+ $people)
      var $meal = $(this).attr("class")
      var $mealReduced = $meal.substr(0, $meal.length - 7)
      var $interpolation = '.swiper-slide-'+$mealReduced+'.swiper-slide-active'
      var $selected_recipe_id = $($interpolation).attr("data-recipe-id");
      $.ajax({
      url: "<%= update_people_recipe_path %>",
      type: 'POST',
      data: { recipe_id: $selected_recipe_id, date: '<%= params[:date] %>', number_of_people: $itemSelection },
      success: function() {
        console.log("I worked")
      }
    });
  });



  $("#lunch_delete, #breakfast_delete, #aperitivo_delete, #dinner_delete").click(function() {
    var $mealClick = $(this).attr('id')
    console.log($mealClick)
    var $mealType = $mealClick.substr(0, $mealClick.length - 7);
    console.log($mealType)
    var $interpolation = '.swiper-slide-'+$mealType+'.swiper-slide-active'
    console.log($interpolation)
    var selected_recipe_id = $($interpolation).attr("data-recipe-id");
    console.log(selected_recipe_id)
      $.ajax({
      url: "<%= delete_user_recipe_path %>",
      type: 'POST',
      data: { recipe_id: selected_recipe_id, date: '<%= params[:date] %>' },
      success: function() {
        console.log("I worked")
    }
  });
});

$('.range-slider__range::-webkit-slider-thumb').click(function() {
    console.log("Hello")
  });

var rangeSlider = function(){
  var slider = $('.range-slider'),
      range = $('.range-slider__range'),
      value = $('.range-slider__value');

  slider.each(function(){

    value.each(function(){
      var value = $(this).prev().attr('value');
      $(this).html(value);
    });

    range.on('input', function(){
      $(this).next(value).html(this.value);
    });
  });
};

rangeSlider();

</script>

<% end %>
