<div class="main-container">
  <%= render 'shared/scroll-days' %>

  <h1 id="calender-date"><%= @day.strftime('%a %e %b') %></h1>

  <div class="meal-type">
    <h2  class="text-center">BREAKFAST</h2>
    <% selected_recipe = current_user.selected_recipe("breakfast", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="breakfast_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "breakfast"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="breakfast_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "breakfast"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <div class="profile-pic">
      <span class="range-slider__value">0</span>
    </div>
  </div>

  <hr>

  <div class="meal-type">
    <h2  class="text-center">LUNCH</h2>
    <% selected_recipe = current_user.selected_recipe("lunch", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="lunch_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "lunch"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="lunch_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "lunch"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>

    <div class="meal-type">
    <h2  class="text-center">APERITIVO</h2>
    <% selected_recipe = current_user.selected_recipe("aperitivo", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="aperitivo_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "aperitivo"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="aperitivo_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "aperitivo"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>

    <div class="meal-type">
    <h2  class="text-center">DINNER</h2>
    <% selected_recipe = current_user.selected_recipe("dinner", params[:date]) %>
    <% if selected_recipe %>
      <h2 id="dinner_delete" class="delete open-slider"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "dinner"%>
     <div class="close-slider close">
      <%= render "shared/empty-meal" %>
     </div>
    <% else %>
      <h2 id="dinner_delete" class="delete open-slider close"><i class="fa fa-times meal-cross" aria-hidden="true"></i></h2>
     <%= render "shared/swiper", meal: "dinner"%>
     <div class="close-slider">
      <%= render "shared/empty-meal" %>
     </div>
    <% end %>
  </div>

  <div class="range-slider">
    <input class="range-slider__range" type="range" value="1" min="1" max="15">
    <span class="range-slider__value">0</span>
  </div>

  <hr>

</div>


<%= content_for(:after_js) do %>
<script>
    $(".calender-plus, #lunch_delete, #breakfast_delete, #aperitivo_delete, #dinner_delete").click(function() {
    var $meal = $(this).closest('.meal-type')
    $meal.find(".open-slider").toggleClass("close");
    $meal.find(".close-slider").toggleClass("close");
 });



  $("#lunch_delete, #breakfast_delete, #aperitivo_delete, #dinner_delete").click(function() {
    var $mealClick = $(this).attr('id')
    console.log($mealClick)
    var $mealType = $mealClick.substr(0, $mealClick.length - 7);
    console.log($mealType)
    var $interpolation = '.swiper-slide-'+$mealType+'.swiper-slide-active'
    console.log($interpolation)
    var selected_recipe_id = $($interpolation).attr("data-recipe-id");
    console.log(selected_recipe_id)
      $.ajax({
      url: "<%= delete_user_recipe_path %>",
      type: 'POST',
      data: { recipe_id: selected_recipe_id, date: '<%= params[:date] %>' },
      success: function() {
        console.log("I worked")
    }
  });
});



var rangeSlider = function(){
  var slider = $('.range-slider'),
      range = $('.range-slider__range'),
      value = $('.range-slider__value');

  slider.each(function(){

    value.each(function(){
      var value = $(this).prev().attr('value');
      $(this).html(value);
    });

    range.on('input', function(){
      $(this).next(value).html(this.value);
    });
  });
};

rangeSlider();

</script>

<% end %>
