


<div class="main-container shopping-cart" style="background-image: linear-gradient(rgba(240,240,240,0.8) 0%, rgba(240,240,240,0.9) 50%), url('<%= cl_image_path "Hubert Page pictures/tablecloth-458019_960_720", width:700, :crop=>"scale" %>')">

  <% @ingredients_hash2.each_key do |category| %>

    <h2><%= category.capitalize %></h2>
    <div class="container qwerty">
      <div class="row">
        <div class="col-xs-12">
          <% @ingredients_hash2[category].each_key do |ingr_name| %>
            <%  @ingredients_hash2[category][ingr_name].each do |s_item| %>

              <%= simple_form_for [current_user, s_item], remote: true, class: "form-inline" do |f| %>
                <% bought = s_item.bought %>
                <%= f.submit " ", class: (bought ? "btn-checkbox btn-checked" : "btn-checkbox") %>
                <span class="<%= bought ? 'text-item text-item-checked' : 'text-item' %>">
                  <%= " #{ingr_name.capitalize} #{s_item.quantity.round(2)} #{s_item.recipe_ingredient.unit}" %><%= "s" if s_item.quantity > 1 %>
                </span>
                <br>
                <span>
                  <%= s_item.user_recipe.recipe.name %> - <%= s_item.user_recipe.date.strftime('%A %d %B %Y') %>
                </span>
              <% end %>
            <% end %>
          <% end %>

        </div>
      </div>
    </div>

  <% end %>

</div>
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10"><span>
      <%= @shopping_items %>
    </span></div>
  </div>
</div> -->
<%= content_for(:after_js) do  %>
<script>

  $("input").on('click', function(e){
    $(this).toggleClass('btn-checked');
    $(this).next().toggleClass('text-item-checked');
  });
</script>
<% end %>
