<div class="main-container">
  <% @sorted_ingredient_hash.each_key do |category| %>

    <h2><%= category.capitalize %></h2>
    <div class="container">
      <div class="row">
        <div class="col-xs-10">
          <% @sorted_ingredient_category_hash[category].each do |item| %>
            <%= simple_form_for [current_user, item[:s_item]], remote: true, class: "form-inline" do |f| %>
              <% bought = item[:s_item].bought %>
              <%= f.submit " ", class: (bought ? "btn-checkbox btn-checked" : "btn-checkbox") %>
              <span class="<%= bought ? 'text-item text-item-checked' : 'text-item' %>"><%= " #{item[:name]} #{item[:quantity]}#{item[:unit]}" %></span>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>

  <% end %>
  <!-- debug comment -->
  <p>
    First recipe in the user_recipe:
    <%= @user_recipes.first.recipe.name %>
  </p>

  <p>
    Number of shopping item in @shopping_items:
    <%= @shopping_items.length %>
  </p>

  <h3>all shopping items</h3>
  <% @user_recipes.each do |u_recipe| %>
    <p><%= u_recipe.shopping_items.length %></p>
    <% u_recipe.shopping_items.each do |item| %>
      <p><%= item.quantity.class %></p>
    <% end %>
  <% end %>
  <!-- end of debbugging -->

</div>
<%= content_for(:after_js) do  %>
<script>

  $("input").on('click', function(e){
    $(this).toggleClass('btn-checked');
    $(this).next().toggleClass('text-item-checked');
  });
</script>
<% end %>
