<div class="meal-menu">
  <div class="meals"><p>BREAKFAST</p></div>
  <div class="meals"><p>LUNCH</p></div>
  <div class="meals"><p>DINNER</p></div>
</div>

<%= render 'shared/banner' %>

<div class="meal-menu-bar">
  <div class="left-meal-menu-bar">
    <p><strong><%= @recipe.category.upcase %></strong></p>
    <p><em>45 mins</em></p>
  </div>
  <div class="right-meal-menu-bar">
    <p><%= @recipe.recipe_type.upcase  %></p>
  </div>
</div>

<ul class="nav nav-tabs ingredient-method-titles">
  <li class="active"><a data-toggle="tab" href="#home">Ingredients</a></li>
  <li><a data-toggle="tab" href="#menu1">Method</a></li>
</ul>

<div class="tab-content">
  <div id="home" class="tab-pane fade in active ingredients-list">
    <ul>
      <% @recipe.recipe_ingredients.each do |recipe_ingredient| %>
        <li><%= "#{recipe_ingredient.quantity} #{recipe_ingredient.ingredient.unit} #{recipe_ingredient.ingredient.name}" %></li>
      <% end %>
    </ul>
  </div>
  <div id="menu1" class="tab-pane fade method-text">
    <p> <%= @recipe.instructions %>
    </p>
  </div>
</div>

