<div class="ingredient-container">
  <div class="ingredient-left">
    <% taste = user.ingredient_tastes.find_by(ingredient_id: i.id) %>

    <% if taste %>
      <% taste.like ? ingredient_liked = "ingredient-liked" : ingredient_liked = "ingredient-disliked" %>
    <% else %>
      <% ingredient_liked = "ingredient-unknown" %>
    <% end %>
    <h4 class="<%= ingredient_liked %>"><%= i.name %></h4>
  </div>
  <div class="ingredient-right">
    <% if i.category == "vegetable" %>
      <% badge = "ingredient-category-vegetable" %>
    <% elsif i.category == "dairy"%>
      <% badge = "ingredient-category-dairy" %>
    <% elsif i.category == "meat"%>
      <% badge = "ingredient-category-meat" %>
    <% elsif i.category == "sauce"%>
      <% badge = "ingredient-category-sauce" %>
    <% end %>
    <div class="ingredient-category <%= badge %>">
      <h6><%= i.category %></h6>
    </div>
    <div class="ingredient-action">
      <% if taste %>
        <% if taste.like == true %>
          <%= link_to "dislike", dislike_it_path(name: i.name), method: :post, remote: true, class: "btn btn-danger"  %>
        <% else %>
          <%= link_to "like", like_it_path(name: i.name), method: :post, remote: true, class: "btn btn-success"  %>
        <% end %>
      <% else %>
          <%= link_to "dislike", dislike_it_path(name: i.name), method: :post, remote: true, class: "btn btn-danger"  %>
          <%= link_to "like", like_it_path(name: i.name), method: :post, remote: true, class: "btn btn-success"  %>
      <% end %>
    </div>
  </div>
</div>
