<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenLite.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.15.0/utils/Draggable.min.js"></script>

</div>
<div class="content">
</div>

<div class="footer-swipe">
  <div id="swipe_dislike" class="rate"></div>

  <div class="info"></div>

  <div id="swipe_like" class="rate"></div>
</div>

<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(event) {
    var ingredient_json = <%= raw @ingredient_objects.to_json %>;

    $("div#swipe_like").on( "click", function() {
      swipeLike();
    });

    $("div#swipe_dislike").on( "click", function() {
      swipeDislike();
    });

    $('.card').on('swipe', function() {
      var ingredient = ingredient_json.pop()
      addNewProfile( 'ingredient.name', 'ingredient.category' , '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');
    });


    function swipe() {
      Draggable.create("#photo", {
        throwProps:true,
        onDragEnd:function(endX) {
          if(Math.round(this.endX) > 0 ) {
            swipeLike();
          }
          else {
            swipeDislike();
          }
        }
      });
    }

    function swipeLike() {
      var $photo = $("div.content").find('#photo');

      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo]});
      swipe.staggerTo($photo, 0.8, {bezier:[{left:"+=400", top:"+=300", rotation:"60"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()

      addNewProfile( ingredient.name, ingredient.category, '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');
    }

    function swipeDislike() {
      var $photo = $("div.content").find('#photo');

      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo]});
      swipe.staggerTo($photo, 0.8, {bezier:[{left:"+=-350", top:"+=300", rotation:"-60"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()

      addNewProfile( ingredient.name, ingredient.category, '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');
    }

    function remove(photo) {
      $(photo).remove();
    }

    function addNewProfile(name, category, photo) {
      console.log(name);
      $("div.content").prepend('<div class="photo" id="photo" style="background-image:url('+photo+')">'
        + '<span class="meta">'
        + '<p>'+name+', '+category+'</p>'
        + '<span class="moments">0</span>'
        + '<span class="users">0</span>'
        + '</span>'
        + '</div>');

      swipe();
    }

  });

</script>
<% end %>
