<div class="tinder-swiper">
<h2>SWIPE AWAY!</h2>
  <div id="contentMichael">
  </div>
  <div class="footer-swipe">
    <div id="swipe_dislike" class="rate"></div>
    <div class="info"></div>
    <div id="swipe_like" class="rate"></div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(event) {
    var ingredient_json = <%= raw @ingredient_objects.to_json %>;

    $("div#swipe_like").on( "click", function() {
      swipeLike();
    });

    $("div#swipe_dislike").on( "click", function() {
      swipeDislike();
    });

    var ingredient = ingredient_json.pop()
    addNewIngredient( ingredient.name, ingredient.category , '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');

    function swipe() {
      Draggable.create("#photoIngredient", {
        throwProps:true,
        onDragEnd:function(endX) {
          if(Math.round(this.endX) > 0 ) {
            swipeLike();
          }
          else {
            swipeDislike();
          }
        }
      });
    }

    function swipeLike() {
      var $photo_like = $("div#contentMichael").find('#photoIngredient');
      console.log($photo_like)
      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo_like]});
      swipe.staggerTo($photo_like, 0.8, {bezier:[{left:"+=400", top:"+=300", rotation:"30"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()

      addNewIngredient( ingredient.name, ingredient.category, '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');
      $.ajax({
        type: "POST",
        url: "/like",
        data: ingredient,
        success: function(data) {
          console.log("Success");
        }
      });

    }

    function swipeDislike() {
      var $photo = $("div#contentMichael").find('#photoIngredient');

      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo]});
      swipe.staggerTo($photo, 0.8, {bezier:[{left:"+=-350", top:"+=300", rotation:"-30"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()

      addNewIngredient( ingredient.name, ingredient.category, '<%= image_path("ingredients.jpg", width: 400, height: 300, crop: :fill) %>');

      $.ajax({
        type: "POST",
        url: "/dislike",
        data: ingredient,
        success: function(data) {
          console.log("Success");
        }
      });
    }

    function remove(photo) {
      $(photo).remove();
    }

    function addNewIngredient(name, category, photo) {
      console.log("add new ingrediemt", name);
      $("div#contentMichael").prepend('<div class="photo" id="photoIngredient" style="background-image:url('+photo+')">'
        + '<span class="meta">'
        + '<p>'+name+', '+category+'</p>'
        + '</span>'
        + '</div>');

      swipe();
    }

  });

</script>
<% end %>
