<div class="tinder-swiper">
  <div class="header">
    <i class="fa fa-arrow-left"></i>
    <h2 class="text-center">SWIPE AWAY!</h2>
    <i class="fa fa-arrow-right"></i>
  </div>
  <div id="contentMichael">
  </div>
  <div class="footer-swipe">
    <div id="swipe_dislike" class="rate"></div>
    <div class="info"></div>
    <div id="swipe_like" class="rate"></div>
  </div>
</div>

<%= content_for(:after_js) do %>
<script>
  $(document).ready(function(event) {
    var ingredient_json = <%= raw @ingredient_objects.to_json %>;

    $("div#swipe_like").on( "click", function() {
      swipeLike();
    });

    $("div#swipe_dislike").on( "click", function() {
      swipeDislike();
    });

    function getCategoryImage(category){
      switch (category){
        case 'meat':
          var image_path = "<%= image_path('meat.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'dairy':
          var image_path = "<%= image_path('dairy.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'vegetable':
          var image_path = "<%= image_path('vegetable.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'fruits':
          var image_path = "<%= image_path('fruits.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'spices':
          var image_path = "<%= image_path('spices.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'fish':
          var image_path = "<%= image_path('fish.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'baking':
          var image_path = "<%= image_path('baking.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'oils':
          var image_path = "<%= image_path('oils.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'seafood':
          var image_path = "<%= image_path('seafood.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'sweeteners':
          var image_path = "<%= image_path('sweeteners.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'seasonings':
          var image_path = "<%= image_path('seasonings.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'nuts':
          var image_path = "<%= image_path('nuts.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'condiments':
          var image_path = "<%= image_path('condiments.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'desserts':
          var image_path = "<%= image_path('desserts.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'beverages':
          var image_path = "<%= image_path('beverages.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'soup':
          var image_path = "<%= image_path('soup.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'alternatives':
          var image_path = "<%= image_path('alternatives.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'sauces':
          var image_path = "<%= image_path('sauces.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        case 'alcohol':
          var image_path = "<%= image_path('alcohol.jpg', width: 400, height: 300, crop: :fill) %>";
          break;
        default:
          var image_path = "<%= image_path('ingredients.jpg', width: 400, height: 300, crop: :fill) %>";
      }
      return image_path
    }


    var ingredient = ingredient_json.pop()
    console.log(ingredient)
    var image_path = getCategoryImage(ingredient.category)
    addNewIngredient( ingredient.name, ingredient.category , image_path);

    function swipe() {
      Draggable.create("#photoIngredient", {
        throwProps:true,
        onDragEnd:function(endX) {
          if(Math.round(this.endX) > 0 ) {
            swipeLike();
          }
          else {
            swipeDislike();
          }
        }
      });
    }

    function swipeLike() {
      var $photo_like = $("div#contentMichael").find('#photoIngredient');
      console.log($photo_like)
      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo_like]});
      swipe.staggerTo($photo_like, 0.8, {bezier:[{left:"+=400", top:"+=300", rotation:"30"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()
      var image_path = getCategoryImage(ingredient.category)

      addNewIngredient( ingredient.name, ingredient.category, image_path);
      $.ajax({
        type: "POST",
        url: "/like",
        data: ingredient,
        success: function(data) {
          console.log("Success");
        }
      });

    }

    function swipeDislike() {
      var $photo = $("div#contentMichael").find('#photoIngredient');

      var swipe = new TimelineMax({repeat:0, yoyo:false, repeatDelay:0, onComplete:remove, onCompleteParams:[$photo]});
      swipe.staggerTo($photo, 0.8, {bezier:[{left:"+=-350", top:"+=300", rotation:"-30"}], ease:Power1.easeInOut});

      var ingredient = ingredient_json.pop()
      var image_path = getCategoryImage(ingredient.category)

      addNewIngredient( ingredient.name, ingredient.category, image_path);

      $.ajax({
        type: "POST",
        url: "/dislike",
        data: ingredient,
        success: function(data) {
          console.log("Success");
        }
      });
    }

    function remove(photo) {
      $(photo).remove();
    }

    function addNewIngredient(name, category, photo) {
      console.log("add new ingrediemt", name);
      $("div#contentMichael").prepend('<div class="photo" id="photoIngredient" style="background-image:url('+photo+')">'
        + '<span class="meta">'
        + '<p>'+name+', '+category+'</p>'
        + '</span>'
        + '</div>');

      swipe();
    }

  });

</script>
<% end %>
