<div class="main-container">
  <div class="container user-profile text-center">
    <div class="avatar-position" >
      <% avatar_url = @user.facebook_picture_url || @user.photo.url(:square) || "http://placehold.it/30x30" %>
      <%= cl_image_tag avatar_url, class: "avatar-large  text-center" %>
    </div>
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
  </div>

  <div class="container user_page">

    <div class="actions row">
      <h3>Select your diet</h3>
      <%= link_to "Vegetarian", vegetarian_path, method: :post, class: "btn btn-success"  %>
    </div>

    <div class="row flex">
      <div class="title"><h2>Preferences</h2></div>
      <div class="edit"><%= link_to "Edit", ingredients_path, class: 'btn btn-primary' %></div>
    </div>


    <div class="settings">
      <div class="row">
          <div class="preferences">
            <div class="dislikes col-xs-5 col-xs-offset-1">
              <h4 class="disliked">Disliked</h4>
              <% if @disliked_ingredient_tastes %>
                <% @disliked_ingredient_tastes.each do |i| %>
                  <li><%= i.ingredient.name %></li>
                <% end %>
              <% else %>
                <p>None disliked</p>
              <% end %>
            </div>
            <div class="likes col-xs-5 col-xs-offset-1">
              <h4 class="liked">Liked</h4>
              <% if @liked_ingredient_tastes %>
                <% @liked_ingredient_tastes.each do |i| %>
                  <li><%= i.ingredient.name %></li>
                <% end %>
              <% else %>
                <p>None liked</p>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function(event) {
    var ingredient_json = <%= raw @ingredient_objects.to_json %>;

    $("div#vegetarian").on( "click", function() {
      setUserToVegetarian();
    });

    function setUserToVegetarian() {

      $.ajax({
        type: "POST",
        url: "/vegetarian",
        data: "",
        success: function(data) {
          console.log("the user is now vegetarian");
        }
      });

    }

  });
</script>
