<div class="main-container">
  <div class="container user-profile text-center">
    <div class="avatar-position" >
      <% avatar_url = @user.facebook_picture_url || @user.photo.url(:square) || "http://placehold.it/30x30" %>
      <%= cl_image_tag avatar_url, class: "avatar-large  text-center" %>
    </div>
    <h3><%= "#{@user.first_name} #{@user.last_name}" %></h3>
  </div>

  <div class="container">
    <div class="row flex">
      <div class="title"><h2>Preferences</h2></div>
      <div class="edit"><%= link_to "Edit", ingredients_path, class: 'btn btn-primary' %></div>
    </div>
    <div class="settings">
      <div class="row">
          <div class="preferences">
            <div class="dislikes col-xs-6">
              <h4>Disliked</h4>
              <% if @disliked_ingredient_tastes %>
                <% @disliked_ingredient_tastes.each do |i| %>
                  <li><%= i.ingredient.name %></li>
                <% end %>
              <% else %>
                <p>None disliked</p>
              <% end %>
            </div>
            <div class="likes col-xs-6">
              <h4>Liked</h4>
              <% if @like_ingredient_tastes %>
                  <% @liked_ingredients_tastes.each do |i| %>
                    <ul><%= i.ingredient.name %></ul>
                  <% end %>
              <% else %>
                <p>None liked</p>
              <% end %>
            </div>
          </div>
      </div>
    </div>
  </div>

</div>
