<%= link_to recipe_path(recipe), class: "product #{recipe.category}" do %>
  <div style="background-image: url(<%= image_path 'chicken-salad' %>)" class="product-image"></div>
  <div class='product-body'>
    <div class="recipe-name"><%= recipe.name %></div>
    <div class="recipe-category"><%= recipe.category %></div>
    <div class="recipe-date"><%= u_recipe.date.strftime("%A %d/%m/%Y") %></div>
    <div class="recipe-people"><%= u_recipe.number_of_people %> <i class="fa fa-cutlery"></i></div>
  </div>
<% end %>
