<div class="scroller">
  <div class="scroll-flex">


    <% 15.times do |i| %>
      <% day = (@day - 7 + i) %>
      <% class_name = "scroll-btn " %>

      <% if day == @day %>
        <% class_name += "selected " %>
      <% end %>

      <%if day == Date.today %>
        <% class_name += "today " %>
      <% end %>



      <%= link_to calendar_path(day) do %>
        <div class="<%= class_name %>" >
          <h2> <%= "#{ day.strftime('%a %e %b')}" %></h2>
        </div>
      <% end %>
    <% end %>

  </div>




</div>

<form>
  <input type="button" value="Click Me" onclick="getConfirmation();" />
</form>
<h2 class="text-center">Breakfast</h2>
<%= render "shared/swiper" %>
<h2 class="text-center">Lunch</h2>
<%= render "shared/swiper" %>
<h2 class="text-center">Dinner</h4>
<%= render "shared/swiper" %>

<ol>
  <li>recipes</li>


</ol>
