  <div class="scroller">
    <div class="scroll-flex">
      <% 29.times do |i| %>
        <% day = (@day - 14 + i) %>
        <% day_badge_class = "scroll-btn " %>

        <% if day == @day %>
          <% day_badge_class += "selected " %>
        <% end %>

        <%if day.today? %>
          <% day_badge_class += "today " %>
        <% end %>

        <% nb_ingredient_to_buy = current_user.user_recipes.where(date: day).joins(:shopping_items).where(shopping_items: { bought: false }).count %>

        <%= link_to calendar_path(day), class: 'badge-container' do %>
          <div class="<%= day_badge_class %>">
            <h2><%= "#{ day.strftime('%a %e %b')}" %></h2>

            <% if nb_ingredient_to_buy == 0 %>
              <div class="badge badge-blue"><%= nb_ingredient_to_buy %></div>
            <% else %>
              <div class="badge badge-red"><%= nb_ingredient_to_buy %></div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

<%= content_for(:after_js) do %>
<script>

</script>
<% end %>
