<div class="scroller">
  <div class="scroll-flex">
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 7).strftime('%a %e %b')}", calendar_path(@day - 7) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 6).strftime('%a %e %b')}", calendar_path(@day - 6) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 5).strftime('%a %e %b')}", calendar_path(@day - 5) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 4).strftime('%a %e %b')}", calendar_path(@day - 4) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 3).strftime('%a %e %b')}", calendar_path(@day - 3) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 2).strftime('%a %e %b')}", calendar_path(@day - 2) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day - 1).strftime('%a %e %b')}", calendar_path(@day - 1) %></h2>
    </div>
    <%= link_to calendar_path(@day), class: "selected" do %>
      <div class="scroll-btn">
        <h2> <%= "#{ @day.strftime('%a %e %b')}" %></h2>
      </div>
    <% end %>
     <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 1).strftime('%a %e %b')}", calendar_path(@day + 1) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 2).strftime('%a %e %b')}", calendar_path(@day + 2) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 3).strftime('%a %e %b')}", calendar_path(@day + 3) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 4).strftime('%a %e %b')}", calendar_path(@day + 4) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 5).strftime('%a %e %b')}", calendar_path(@day + 5) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 6).strftime('%a %e %b')}", calendar_path(@day + 6) %></h2>
    </div>
    <div class="scroll-btn">
      <h2><%= link_to "#{(@day + 7).strftime('%a %e %b')}", calendar_path(@day + 7) %></h2>
    </div>

  <%= 15.times do |i| %>
    <%= link_to calendar_path(@day - 8 + i), class: "selected" do %>
      <div class="scroll-btn">
        <h2> <%= "#{ (@day - 8 + i).strftime('%a %e %b')}" %></h2>
      </div>
    <% end %>
  <% end %>
  </div>




</div>
