<div class="swiper-container">
  <div class="swiper-wrapper">
    <% Recipe.all.each do |recipe|%>

    <div class="swiper-slide swiper-slide-<%= meal %>" data-recipe-title="<%= recipe.name %>" data-recipe-id="<%= recipe.id %>">
      <div class="col-xs-12 recipe-cards">
          <% if Recipe.all != nil %>
            <%= render "shared/card", recipe: recipe %>
           <!--  <div class="hidden" id="recipe-js"><%= recipe.id %></div> -->
          <% else %>
            <h3> There are no recipes yet</h3>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- Initialize Swiper -->
<% content_for(:after_js) do %>
   <script type="text/javascript">
   var swiper = new Swiper('.swiper-container', {
       pagination: '.swiper-pagination',
       paginationClickable: true,
       spaceBetween: 30,
   });

  <!--
    function getConfirmation(){
      var a = $(".swiper-slide-breakfast.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: a, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
/*      var b = $(".swiper-slide-lunch.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: b, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
      var c = $(".swiper-slide-aperitivo.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: c, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });

      var d = $(".swiper-slide-dinner.swiper-slide-active").attr("data-recipe-id")*/

      alert("Breakfast: " + a + ",  Lunch: " + b + ",  Aperitivo: " + c + ",  Dinner: " + d);
      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: d, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
      }
   </script>
<% end %>
