<div class="swiper-container <%= meal %>-swiper">
  <div class="swiper-wrapper">
    <% selected_recipe = current_user.selected_recipe(meal, params[:date]) %>
    <% if selected_recipe %>
      <% recipes =  [selected_recipe] + current_user.liked_recipes(meal).select{|recipe| recipe.id != selected_recipe.id}%>
    <% else %>
      <% recipes =  current_user.liked_recipes(meal) %>
    <% end %>
    <% recipes.each do |recipe| %>

    <div class="swiper-slide swiper-slide-<%= meal %>" data-recipe-title="<%= recipe.name %>" data-recipe-id="<%= recipe.id %>">
      <div class="col-xs-12 recipe-cards">
          <% if Recipe.all != nil %>
            <%= render "shared/card", recipe: recipe %>
           <!--  <div class="hidden" id="recipe-js"><%= recipe.id %></div> -->
          <% else %>
            <h3> There are no recipes yet</h3>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- Initialize Swiper -->
<% content_for(:after_js) do %>
   <script type="text/javascript">
   var swiper = new Swiper('.swiper-container', {

       spaceBetween: 10,
       onSlideChangeEnd: function(swiper) {
        // get the id of current meal
        var a = swiper.slides[swiper.activeIndex];
        var b = $(a).attr("data-recipe-id")
        postSelectedMeal(b);
;       }
   });

   function findUserRecipe() {
      // if user_recipe_id == this id then update
      // else
   }

   function postSelectedMeal(id) {
    $.ajax({
        method:'POST',
        url: '/user_recipes',
        data: { user_recipe: {recipe_id: id, date: "<%= params[:date] %>", number_of_people: 1}},
        // insert proper number of people when feature is available
      });
   }

  <!--
    function getConfirmation(){
      var a = $(".swiper-slide-breakfast.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: a, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
/*      var b = $(".swiper-slide-lunch.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: b, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
      var c = $(".swiper-slide-aperitivo.swiper-slide-active").attr("data-recipe-id")

      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: c, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });

      var d = $(".swiper-slide-dinner.swiper-slide-active").attr("data-recipe-id")*/

      alert("Breakfast: " + a + ",  Lunch: " + b + ",  Aperitivo: " + c + ",  Dinner: " + d);
      $.ajax({
          method:'POST',
          url: '/user_recipes',
          data: { user_recipe: {recipe_id: d, date: "<%= params[:date] %>", number_of_people: 1}},
          // insert proper number of people when feature is available
          success: function(){
            $(this).User_recipe("done");
          }
        });
      }
   </script>
<% end %>
