<div class="swiper-container">
  <div class="swiper-wrapper">
    <% Recipe.all.each do |recipe|%>

    <div class="swiper-slide swiper-slide-<%= meal %>" data-recipe-title="<%= recipe.name %>" data-recipe-id="<%= recipe.id %>" data-recipe-type="<%= recipe.recipe_type %>" data-recipe-category="<%= recipe.category %>">
      <div class="col-xs-12 recipe-cards">
          <% if Recipe.all != nil %>
            <%= render "shared/card", recipe: recipe %>
           <!--  <div class="hidden" id="recipe-js"><%= recipe.id %></div> -->
          <% else %>
            <h3> There are no recipes yet</h3>
          <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>


<!-- Initialize Swiper -->
<% content_for(:after_js) do %>
   <script type="text/javascript">
   var swiper = new Swiper('.swiper-container', {
       pagination: '.swiper-pagination',
       paginationClickable: true,
       spaceBetween: 30,
   });

  <!--
    function getConfirmation(meal){
      var a = $(".swiper-slide-" + meal + ".swiper-slide-active").attr("data-recipe-id")
      /*window.alert($(".swiper-slide-active").data("recipe-id"));*/
      alert(a);
       }
  //-->

   </script>
<% end %>
